# Віртуальне середовище Python
venv/

# Кеш Python
__pycache__/
*.pyc

# Файл зі змінними середовища (наш секретний ключ!)
.env

# Згенерована база даних Faiss
faiss_index/

# Ігноруємо базу даних ChromaDB
chroma_db/